<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<div id="app">
  <div v-if="modal.type === 'ADD_WORKOUT'">
    <form v-on:submit.prevent="addWorkout" style="display: inline">
      <input v-model="modal.name" placeholder="e.g. Pushups">
      <button>+</button>
    </form>
    <button v-on:click="hideModal">✖</button>
  </div>
  <button v-if="modal.type !== 'ADD_WORKOUT'" v-on:click="modal = { type: 'ADD_WORKOUT', name: '' }">Add Workout</button>
  <div v-for="(workout, i) in workouts">
    <h1>{{ workout.name }}</h1>
    <h3>{{ workout.count }}</h3>
    <button v-on:click="increment(i)">+</button>
    <button v-on:click="decrement(i)">-</button>
    <button v-on:click="reset(i)">↺</button>
    <button v-on:click="showEditModal(i)">✎</button>
    <button v-on:click="showRemoveModal(i)">✖</button>
  </div>
  <div v-if="modal.type === 'EDIT_WORKOUT'">
    <h1>Editing {{ workouts[modal.index].name }}</h1>
    <input v-model="modal.newName" placeholder="e.g. Pushups">
    <button v-on:click="editWorkout">Save</button>
    <button v-on:click="hideModal">Cancel</button>
  </div>
  <div v-if="modal.type === 'REMOVE_WORKOUT'">
    <h1>Are you sure you want to remove {{ workouts[modal.index].name }}?</h1>
    <button v-on:click="removeWorkout">Yes</button>
    <button v-on:click="hideModal">No</button>
  </div>
</div>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      modal: { type: "HIDDEN" }, // { type: "HIDDEN" } | { type: "ADD_WORKOUT", name: string } | { type: "EDIT_WORKOUT", index: number, newName: string } | { type: "REMOVE_WORKOUT", index: number }
      workouts: JSON.parse(localStorage.workouts || JSON.stringify([{ name: "Pushups", count: 0 }]))
    },
    methods: {
      hideModal: function() {
        this.modal = { type: "HIDDEN" };
      },
      addWorkout: function() {
        this.workouts.push({ name: this.modal.name, count: 0 });
        this.hideModal();
      },
      increment: function(index) {
        Vue.set(this.workouts, index, { name: this.workouts[index].name, count: this.workouts[index].count + 1 });
      },
      decrement: function(index) {
        Vue.set(this.workouts, index, { name: this.workouts[index].name, count: this.workouts[index].count - 1 });
      },
      reset: function(index) {
        Vue.set(this.workouts, index, { name: this.workouts[index].name, count: 0 });
      },
      showEditModal: function(index) {
        this.modal = { type: "EDIT_WORKOUT", index: index, newName: this.workouts[index].name };
      },
      editWorkout: function() {
        Vue.set(this.workouts, this.modal.index, { name: this.modal.newName, count: this.workouts[this.modal.index].count });
        this.hideModal();
      },
      showRemoveModal: function(index) {
        this.modal = { type: "REMOVE_WORKOUT", index: index };
      },
      removeWorkout: function() {
        this.workouts.splice(this.modal.index, 1);
        this.hideModal();
      },
    },
    watch: {
      workouts: function() {
        localStorage.workouts = JSON.stringify(this.workouts);
      }
    }
  });
</script>
